<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB_dc_bhphRuYGQqVIpKFppM0hXBdYDiFM</string>
	<key>GCM_SENDER_ID</key>
	<string>174067290396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.animalRestaurantTracker</string>
	<key>PROJECT_ID</key>
	<string>ar-progress-tracker-1b3d8</string>
	<key>STORAGE_BUCKET</key>
	<string>ar-progress-tracker-1b3d8.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:174067290396:ios:9d65a4a394981871c66ad9</string>
</dict>
</plist>